body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.portrait {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 15px;
}

.portraitContainer {
    display: flex;
    width: 500px;
    margin-bottom: 30px;
}

.opponentName {
    text-align: center;
}

.opponentDescription {
}

.opponentCard {
    background-color: lightyellow;
    border: 3px solid darkgoldenrod;
    margin-right: 15px;
    border-radius: 10%;
    cursor: pointer;
}

.opponentCard:hover {
    background-color: #aa6;
}

.hard {
    color: firebrick;
}

.medium {
    color: darkgreen;
}